body {
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: #558C89;
    border: 1px black solid;
    border-radius: 8px;
    max-width: 765px;
    width: 765px;
    margin: auto;
}

.sidebar {
    font-family: 'Bungee', cursive;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-flow: column;
}

.sidebar h1 {
    color: white;
    line-height: 1em;
}

.widget-container {
    display: flex;
    flex-flow: column;
    background-color: #ECECEA;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 0;
}

.subtitle-container:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.subtitle-container {
    text-align: center;
    background-color: #D9853B;
    color: white;
    line-height: 1em;
    width: 100%;
    height: 50px;
    margin: 0;
    display: inline-block;
}

.subtitle-container h2 {}

.canvas-container {
    padding: 0;
}

.hide {
    display: none;
}

.hide.show {
    display: inline-block;
}

.button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    border: 4px solid #D9853B;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Bungee', cursive;
    color: #D9853B;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    background: #D9853B;
}

.button:active {
    border: 2px solid #D9853B;
    background: #D9853B;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.control-container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
    background-color: white;
    height: 400px;
    min-width: 400px;
    width: 100%;
}

.arrow {
    background-color: white;
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: #558C89;
    border-width: 0px 1px 1px 0px;
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.arrow-down {
    transform: rotate(45deg);
}

.arrow-up {
    transform: rotate(-135deg);
}

.arrow-left {
    transform: rotate(135deg);
    margin-right: 10px;
}

.arrow-right {
    transform: rotate(-45deg);
    margin-left: 10px;
}

.arrow-container-one {
    min-width: 400px;
    width: 100%;
}

.arrow-container-right {
    /* margin-left: 15px; */
    min-width: 180px;
    width: 50%;
}

.arrow-container-left {
    min-width: 180px;
    width: 50%;
    /* margin-right: 15px */
}

@media (min-width: 760px) {
    .control-container {
        display: none;
    }
}